body{
  font-family: 'Amita', cursive;
  margin: 0;
}
h1{
  font-size: 40px;
}
.heading-name{
color: coral;
}
.flexible-container{
  display: flex;
  margin-bottom: 150px;
}
.part-1{
 width: 50%;
 padding-left: 3%;
}
.part-1 img{
  width: 80%;
  padding-top: 3%;
}
.part-2{
  width: 50%;
  padding-left: 3%;
 }
 .part-2 img{
   width: 80%;
   padding-top: 3%;
 }
.hire-me{
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  color: white;
  padding: 10px 40px ;
  font-weight: 700;
  border-radius: 5%;
}
.top-banner{
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.download-resume{
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  color: white;
  padding: 10px 40px ;
  font-weight: 700;
  border-radius: 5%;
}
.mid-banner{
  background-image: url(images/mid-banner.png);
  background-repeat: no-repeat;
  background-position: right;
}
.experience-item{
box-shadow: 10px 10px 40px gray;
width: 40%;
margin: 0 3%;
padding: 20px;
border-radius: 10px;
}
.down-banner{
  background-image: url(images/down-banner.png);
  background-repeat: no-repeat;
  background-position: left;
}
#bim-1{
  border-left: solid 7px;
  border-image: linear-gradient( salmon,tomato ) ;
  border-image-slice: 1;
}
#bim-2{
  border-left: solid 7px;
  border-image: linear-gradient(blue, cyan) ;
  border-image-slice: 1 ;
}
footer p{
  text-align: center;
}
